@import url("https://fonts.googleapis.com/css?family=Roboto Mono");

:root {
    --font-family: "Roboto Mono";
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #64ffda;
    --secondary-color: #ff7235;
    --stascndcol: #a8b2d1;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;

    --stbackgroundcol: #0e192d;
}

body {
    font-family: 'Roboto Mono';
    background-color: var(--stbackgroundcol);
    color: #CCD6F6;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3.5rem;
    background-color: var(--stbackgroundcol);
    transition: top 0.8s;
    width: 100%;
}

nav h1 {
    color: var(--primary-color);;
    font-size: 20px;
}
  
nav a {
    color: var(--primary-color);
    transition: var(--transition);
    font-size: 13px;
}
nav a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.navtit {
    display: inline-block;
    color: var(--stascndcol);
}

.navtit:hover {
    color: var(--primary-color);
}

#about2 h1 {
    color: var(--primary-color);
    font-size: 16px;
}

#about2 h2 {
    color: #CCD6F6;
    font-size: 65px;
    padding-top: 17px;
    display: inline-block;
}

#about2 h3 {
    color: #8892b0;
    font-size: 15px;
    padding-top: 30px;
    width: 50%;
    text-align: justify;
}

#about2 h4 {
    color: #CCD6F6;
    font-size: 45px;
    padding-top: 17px;
    display: inline-block;
}

#about2 {
    padding-top: 11.5rem;
    width: 70%;
    margin-left: 21%;
    height: calc(85vh);
    
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    height: 55vh;
}
  
.skill-header {
    margin-bottom: 1rem;
}
  
.skills-wrapper img {
    padding: 1.25rem;
}
  
.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.headnum {
    color: var(--primary-color);
    font-size: 20px;
    display: inline-block;
}

.skill-header {
    display: inline-block;
    color: #CCD6F6;
    font-size: 25px;
}

#skills h1 {
    color: #CCD6F6;
    font-size: 18px;
}

.projects {
    background-color: var(--stbackgroundcol);
    padding: 32px 0;
    margin-top: 2rem;
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    height: 80vh;
}

.project-pic {
    width: 65%;
    height: 60%;
}
  
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}
  
.project-container {
    text-align: center;
    width: calc(21.875rem * 2);
    padding: calc(1rem * 2);
}

.project-container p {
    padding: calc(0.4rem * 2);
}

.project-title {
    margin-bottom: var(--bottom-margin);
}
  
.project-details {
    margin-bottom: var(--bottom-margin);
}
  
.project-card {
    background-color: #405772;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: calc(20px * 2);
    margin: calc(10px * 2);
}

#navbartag.navbar-scroll{
    display: none;
}

.projects-title {
    display: inline-block;
    color: #CCD6F6;
    font-size: 25px;
}

#ghico {
    width: 100px;
    position:fixed;
    padding-left: 50px;
    padding-top: 25px;
}

#ghico2 {
    width: 100px;
    
}

.email-link {
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid 4px;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s;
    margin-top: 50px;
    border-color: #64ffda;

    border-radius: 10px;
}

#emaillinkbox {
    border-radius: 10px;
    border: 3px solid #64ffda;
    margin: auto;
    margin-top: 40px;
    border-style:solid;
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
}

.contact {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    height: 30vh;
}


#emaillinkbox p {
    margin: auto;
    padding: 0px;
    vertical-align: middle;
}

#footertextal {
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 100vw;
}

#footertextdiv {
    width: 100%;

}